---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="center">
    <div class="flex items-center gap-8">
      <a href="/posts/1" class="heading">Patent & Design</a>
    </div>
    <ol class="flex flex-col gap-8">
      <li>
        <div>
          Debadutta Patra, <span class="font-bold">Ayush Bardhan Tripathy</span
          >, Bibhu Prasad Kar, Sanghamitra Pradhan, Pratikshya Mahakud, <span
            style="font-style: italic"
            >"IoT-Based Water Microplastic Detection Device"</span
          >
        </div>
        Design Patent, India, Application No.: 476840-001
      </li>

      <li>
        <div>
          Debadutta Patra, <span class="font-bold">Ayush Bardhan Tripathy</span
          >, Bibhu Prasad Kar, <span style="font-style: italic"
            >"Milk Quality Detection Equipment"</span
          >
        </div>
        Utility Patent (Published), India, Application No.: 20253104743
      </li>
    </ol>
  </div>
</BaseLayout>
