---
import BaseLayout from "../layouts/BaseLayout.astro";
import Introduction from "../components/Introduction.jsx";
import Featured from "../components/Featured.astro";
---

<BaseLayout
  title="Ayush's Portfolio"
  description="The portfolio and personal blog of Ayush Bardhan Tripathy"
  author="Ayush"
  url="https://ayush.thedev.id"
>
  <div class="flex h-screen flex-col items-center justify-center">
    <section class="flex w-[80%] flex-col gap-8 md:flex-row">
      <Introduction client:only="react" />
      <Featured />
    </section>
  </div>
</BaseLayout>
