---
import { GitHubCalendar } from 'react-github-calendar';
import { Leetcodecalendar } from 'react-leetcode-calendar';
import Socials from "./Socials.astro";
---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <div id="top">
    <img src="./background.svg" width="200" height="200" />
    <div>
      <p className="text-justify">
        I am Ayush Bardhan Tripathy, a programmer, tech enthusiast and
        a student at VSSUT, Burla currently pursuing B.Tech in Computer
        Science and Engineering (Third year).
      </p>
      <Socials />
    </div>
  </div>
  <p>
     I contribute to open source projects. I'm interested in Web
     Development, Backend Technologies, Operating Systems, Compilers,
     Frameworks, WebAssembly, Embedded Systems and much more.
  </p>
  <GitHubCalendar username="iddev5" />
  <Leetcodecalendar username="ayushbardhan" graph="yearly" size="small" labels={{
    months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    weekdays: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
    totalCount: " ",
    legend: { less: " ", more: " " }
  }} client:idle />
</div>

<style>
img {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s;

}

img:hover {
  transform: scale(1.05);
}

#top {
  display: flex;
  gap: 15px;
}
</style>
