---

---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <div id="top">
    <img src="./background.svg" width="200" height="200" />
    <p>
      Ryze is a modern, clean and SEO-friendly blog starter built with Astro and
      Tailwind CSS. It's designed with accessibility in mind and offers a smooth,
      responsive and comfortable reading experience across all devices.
    </p>
  </div>
  <p>
    Explore the featured section or check <a
      href="https://github.com/8366888C/Ryze/blob/main/README.md"
      target="blank"
      class="link animation">README</a
    > for more info.
  </p>
</div>

<style>
img {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s;

}

img:hover {
  transform: scale(1.05);
}

#top {
  display: flex;
  gap: 15px;
}
</style>
