---
import Socials from "./Socials.astro";
---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <div class="flex flex-col md:flex-row items-center gap-[15px]">
    <img src="./Ayush.jpg" width="200" height="200" />
    <div>
      <p className="text-justify">
        I am Ayush Bardhan Tripathy, a programmer, tech enthusiast and
        a student at VSSUT, Burla currently pursuing B.Tech in Computer
        Science and Engineering (Third year).
      </p>
      <Socials />
    </div>
  </div>
  <p>
     I contribute to open source projects. I'm interested in Web
     Development, Backend Technologies, Operating Systems, Compilers,
     Frameworks, WebAssembly, Embedded Systems and much more.
  </p>

  <img
    style={{ backgroundColor: 'transparent' }}
    src="https://raw.githubusercontent.com/iddev5/iddev5.github.io/refs/heads/snake/github-contribution-grid-snake.svg" />

</div>

<style>
img {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s;

}

img:hover {
  transform: scale(1.05);
}

</style>
