---
import IconTopRight from "../assets/icons/arrow-top-right.svg";
---

<nav class="flex items-center justify-center gap-4">
  <a
    href="/projects"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/projects") ? "text-accent" : "",
    ]}>projects</a
  >
  <a
    href="/research"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/research") ? "text-accent" : "",
    ]}>research</a
  >
  <a
    href="/posts/1"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/posts") ? "text-accent" : "",
    ]}>posts</a
  >
  <a
    href="/Ayush Bardhan Tripathy.pdf"
    class="navigation animation flex"
    target="_blank"
  >
    cv
    <IconTopRight class="relative top-1 size-4" />
  </a>
</nav>
