---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="center">
    <div class="flex items-center gap-8">
      <a href="/posts/1" class="heading">Projects</a>
    </div>
  </div>
</BaseLayout>
